@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body{
	font-family:'GmarketSansMedium';
	text-underline-position: under; 
 }

/*lib*/
.con-min-width{
	min-width:
}

.con{
	width: var(--site-width);
}

/*custom*/
:root{
	--site-width:1080px;
}

/*메뉴 구현*/
.top-bar__menu-1>ul>li>a{
	display:flex;
	align-items: center;
	padding: 0 20px ;
	height: 100%;
}

.top-bar__menu-1>ul>li:hover>a{
	text-decoration: underline;	
}

.btn-go-submit{
	margin-left: 10px;
	align-self: center;
	background-color: #fede22;
	border-radius:15px;
	padding:15px;
}

.globe-img{
	margin-left:30px;
}

.globe-img > img{
	filter:brightness(0);
	display:block;
	width:20px;
	height:20px;
}

.globe-img:hover > img{
	filter:brightness(0.3);
}



/*구현 끝*/