@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body{
	font-family:'GmarketSansMedium';
	text-underline-position: under; 
 }

/*lib*/
.con-min-width{
	min-width:
}

.con{
	width: var(--site-width);
}

/*custom*/
:root{
	--site-width:1080px;
}

/*메뉴 구현*/
.top-bar__menu-1>ul>li>a{
	display:flex;
	align-items: center;
	padding: 0 20px ;
	height: 100%;
	position:relative;
}

.top-bar__menu-1>ul>li:hover>a{
	text-decoration: underline;	
}

.top-bar__menu-1>ul>li>a::after{
	content: "";
	position:absolute;
	bottom: 0;
	left:0;
	width:0;
	height:2px;
	background-color:black;
	transition: width .3s;
}

.top-bar__menu-1>ul>li:hover>a::after{
	width:100%;
}

.btn-go-submit{
	margin-left: 10px;
	align-self: center;
	background-color: #fede22;
	border-radius:15px;
	padding:15px;
}

.globe-img-btn{
	margin-left:30px;
	display:flex;
	align-items:center;
}

.globe-img{
	background-image:url(https://www.kakaobank.com/static/images/web/icon_eng_w.svg);
	background-size: 20px 20px;
	filter: brightness(0);
	display:block;
	width:20px;
	height:20px;
	background-repeat: no-repeat;
}

.globe-img-btn:hover > .globe-img {
	filter:brightness(0.5);
}

/*구현 끝*/

/* 2차 메뉴 구현 */
.top-bar__menu-1 >ul > li> div{
	position: absolute;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: blue;
	display: none;
}

.top-bar__menu-1 >ul > li:hover> div{	
	display: block;
}
/* 2차 메뉴 구현 끝 */